<div class="dashWrapper">

  <ul class="mainPics">

    <h3>User Photos</h3>

    {{#each post}}
    <li>{{image_name}}<a href="{{image_url}}"><img src="{{ image_url }}"></a></li>
    {{/each}}
  </ul>


  <table class="scoreDash">
    <thead>
      <tr>
        <th width="200">Player</th>
        <th width="150">Score</th>
      </tr>
    </thead>
    <tbody>
      {{#each user}}
      <tr>
        <td>{{ user }}</td>
        <td>{{ score }}</td>
      {{/each}}
    </tbody>
  </table>

</div>
