<div class="dashWrapper" id="dash-wrapper">

  <ul class="mainPics">

    <h3>User Photos</h3>

    <div class = "allDashImgWrap" id ="all-dash-img-wrap">
    {{#each post}}
    <li class="dashImgWrap" id="dash-img-wrap"><a href="#" class="usernameOverlay hidden" id="dash-img-overlay"><i>posted&nbsp;by&nbsp;</i>{{username}}</a><a href="{{image_url}}"><img src="{{ image_url }}" class = "dashImg"></a></li>
    {{/each}}
    </div>
  </ul>


  <table class="scoreDash">
    <thead>
      <tr>
        <th width="200">Player</th>
        <th width="150">Score</th>
      </tr>
    </thead>
    <tbody>
      {{#each user}}
      <tr>
        <td>{{ user }}</td>
        <td>{{ score }}</td>
      {{/each}}
    </tbody>
  </table>

</div>
